sudo: false

addons:
    apt_packages:
        - lib32stdc++6  # needed for spcomp
        - python-demjson  # needed for jsonlint

env:
    - SMVERSION=1.7

before_script:
    # decrypt app engine credentials
    - openssl aes-256-cbc -K $encrypted_90f33a494a6c_key -iv $encrypted_90f33a494a6c_iv -in csgo-motw-23c0cb5a72e0.json.enc -out csgo-motw-23c0cb5a72e0.json -d

    # install smbuilder
    - git clone https://github.com/splewis/sm-builder
    - cd sm-builder
    - pip install --user -r requirements.txt
    - python setup.py install --prefix=~/.local
    - cd ..

    # install the sourcemod compiler
    - SMPACKAGE="http://sourcemod.net/latest.php?os=linux&version=${SMVERSION}"
    - wget $SMPACKAGE -O sm.zip
    - tar xfz sm.zip
    - cd addons/sourcemod/scripting/
    - chmod +x spcomp
    - PATH+=":$PWD"
    - cd include
    - wget https://raw.githubusercontent.com/KyleSanderson/SteamWorks/master/Pawn/includes/SteamWorks.inc
    - cd ../../../..

script:
    - smbuilder gameserver --flags="-E"
    - rm -rf
    - jsonlint -v data.json
    - python motw_test.py

deploy:
    provider: gae
    keyfile: "csgo-motw-23c0cb5a72e0.json"
    default: true
    project: "csgo-motw"

notifications:
    email: false
