sudo: false

addons:
    apt_packages:
        - lib32stdc++6  # needed for spcomp
        - python-demjson  # needed for jsonlint

before_install:
    - openssl aes-256-cbc -K $encrypted_90f33a494a6c_key -iv $encrypted_90f33a494a6c_iv -in csgo-motw-23c0cb5a72e0.json.enc -out csgo-motw-23c0cb5a72e0.json -d

before_script:
    # install the google app engine sdk
    - wget https://storage.googleapis.com/appengine-sdks/featured/google_appengine_1.9.26.zip
    - unzip -q google_appengine_1.9.26.zip
    - PATH+=":$PWD/google_appengine"

    # install smbuilder
    - git clone https://github.com/splewis/sm-builder
    - cd sm-builder
    - pip install --user -r requirements.txt
    - python setup.py install --prefix=~/.local
    - cd ..

    # install the sourcemod compiler and SteamWorks include
    - wget http://www.gsptalk.com/mirror/sourcemod/sourcemod-1.7.2-linux.tar.gz
    - tar -xzf sourcemod-1.7.2-linux.tar.gz
    - cd addons/sourcemod/scripting/
    - chmod +x spcomp
    - PATH+=":$PWD"
    - cd include
    - wget https://raw.githubusercontent.com/KyleSanderson/SteamWorks/master/Pawn/includes/SteamWorks.inc
    - wget https://raw.githubusercontent.com/popoklopsi/System2/master/system2.inc
    - cd ../../../..

script:
    - cd gameserver
    - smbuilder --flags="-E"
    - jsonlint -v data.json
    - python motw_test.py

deploy:
    provider: gae
    keyfile: "csgo-motw-23c0cb5a72e0.json"
    default: true
    project: "csgo-motw"

notifications:
    email: false
